# Binaries
*.exe
*.exe~
*.old
*.exe.old
*.dll
*.so
*.dylib
*.app
dist/
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# OS Specific
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Releases & Packages
*.zip
*.tar.gz

# Local user scraps
scraps/
